<!DOCTYPE html>
<html>
<head>
  <title>Choose</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.19/p5.min.js"%>
  <%= csrf_meta_tags %>
  <style> body {padding: 0; margin: 0;} </style>
  <%= javascript_include_tag 'room1.js'%>


</head>
<body>

<%= yield %>

</body>
</html>
